@import '../../../../theme/variables-and-mixins.scss';

.modal-header, .modal-body, .modal-content {
  color: $gray-900;
}

a {
  color: $primary;
  &:hover {
    color: darken($primary, 15%);
  }
}
.captcha-section {
  .captcha-answer, .captcha-img {
    display: block;
    margin: 10px auto;
  }
  .captcha-img {
    height: 50px;
  }
}