.idea
node_modules
ipfs-repo
.DS_Store
out
.ethereum-test
.testnet-password
.node-xmlhttprequest-sync-*
*.sol*.bin
chains.json
.ipfs-develop/
app-builds
dist
package-lock.json
build
MinimalManuscriptTest.spec.js
CommunityVoteSimple.sol
app-builds
dist
