@font-face {
  font-family: "Domine";
  src: url('../../../assets/fonts/Domine-Regular.ttf')
}

@font-face {
  font-family: "Montserrat";
  src: url('../../../assets/fonts/Montserrat-Regular.ttf')
}
.container {
  height: 100vh;
  display: flex;
  background-color: #32B67A;
  color: #EEEEEE;
  font-family: "Montserrat";
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .title {
    font-family: "Domine";
    font-size: 48px;
  }

  .subtitle {
    margin-bottom: 40px;
  }

  ul {
    list-style: none;
    padding-left: 0;      
  }
}
